<p id="notice"><%= notice %></p>

<p>
  <strong>Id origen:</strong>
  <%= @seguimiento_historial.id_origen %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @seguimiento_historial.codigo %>
</p>

<p>
  <strong>Naviera:</strong>
  <%= @seguimiento_historial.naviera %>
</p>

<p>
  <strong>Nave:</strong>
  <%= @seguimiento_historial.nave %>
</p>

<p>
  <strong>Pol:</strong>
  <%= @seguimiento_historial.pol %>
</p>

<p>
  <strong>Pod:</strong>
  <%= @seguimiento_historial.pod %>
</p>

<p>
  <strong>Etd:</strong>
  <%= @seguimiento_historial.etd %>
</p>

<p>
  <strong>Eta:</strong>
  <%= @seguimiento_historial.eta %>
</p>

<p>
  <strong>Countchange:</strong>
  <%= @seguimiento_historial.countchange %>
</p>

<p>
  <strong>User:</strong>
  <%= @seguimiento_historial.user %>
</p>

<%= link_to 'Edit', edit_seguimiento_historial_path(@seguimiento_historial) %> |
<%= link_to 'Back', seguimiento_historials_path %>
